html{
    font-size:.9rem;;
}


body{
    margin: 0;
    width: 100%;
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    font-family: 'Roboto', sans-serif;
    
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  
h1, h2, h3, p{
    margin-top: 0;
    
}
h1{
   font-size: 3.5rem;
   font-weight:400;
}

h2{
   font-size: 2.8rem;
   font-weight: 400;
   border-top: 1px solid #c4c4c4;
   border-bottom: 1px solid #c4c4c4;
   padding: 1rem 0;
   margin-bottom: 1.2rem;
}

h3{
    font-size: 2rem;
    margin-bottom: 0.4em;
}

p{
   font-size: 1.5rem;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 35em;
    text-align: center;
    padding: 50px;
}

header{
    min-height: 100vh;
    background: #FFFF8A; 
    display: flex;
    align-items: center;
}

#frontHi{
    font-size: 3.6rem;
}

#fontBig{
    font-size: 5rem;
}
.section-two{
    background: #FFFF8A;
}

img{
    display: block;
    margin: 0 auto;
    width: 70%;
   border-radius: 100px;
   
}

.btn{
    padding: 1.1rem 2.3rem;
    background: #FFFF8A;
    color: black;
    text-decoration: none;
    border-radius: 2rem;
    display:inline-block;
    margin-top:1rem;
   
    
}

.btn-two{
    background: white;
    margin-bottom: 1.3rem;
}

.btn:hover{
    background: black;
    color: white;
}

.btn:active{
    background: #ee4646;
}

.span-title{
    color: #ee4646;
    display: block;
    font-size: 3rem;
    font-weight: 900;
}

.span-big{
    color: #ee4646;
    display: block;
    font-size: 62px;
    font-weight: 900;
}

.color-diff{
    color: #ee4646;
    font-weight: 900;

}

.links{
    color: #ee4646;
}

.links:hover{
    color: blue;
}


@media  ( min-width:750px){
    html{
        font-size: 1.2rem;

    }
    main{
        display: flex;
        align-items: center;
    }

    section .container{
        width: 80%;
        
    }
    .section-two {
        background: #FA8072;
    }
    .section-two .span-title, .color-diff{
        color: black;
    }
    .btn-two{
        background: black;
        color: white;
    }
    .btn-two:hover{
        background-color: white;
        color: black;
    }
    .links{
        color: black;
    }
    .links:hover{
        color: white;
    }
}
